<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
</head>
<body>
	<h1>Welcome to my website!</h1>
	<p>Feel free to explore the different pages and features.</p>
	<nav>
		<ul>
			<li><a href="{{ url_for('order_status') }}">Order Status</a></li>
			<li><a href="{{ url_for('order_payment') }}">Order Payment</a></li>
			<li><a href="{{ url_for('customer_order_status') }}">Customer Order Status</a></li>
			<li><a href="{{ url_for('search_product') }}">Search Product</a></li>
			<li><a href="{{ url_for('add_product') }}">Add New Product</a></li>
		</ul>
	</nav>
</body>
</html>



