<!DOCTYPE html>
<html>
  <head>
    <title>Online Store</title>
  </head>
  <body>
    <h1>Welcome to the Online Store</h1>
    <p>Choose one of the following functions:</p>
    <ul>
      <li><a href="/order_status">Check Order Status</a></li>
      <li><a href="/order_payment">Check Order Payment</a></li>
      <li><a href="/customer_order_status">Find Customers by Order Status</a></li>
      <li><a href="/search_product">Search Products by Price</a></li>
      <li><a href="/add_product">Add New Product</a></li>
    </ul>
  </body>
</html>


